*, *:before, *:after {
  box-sizing: border-box; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  margin: 0; }

body {
  text-rendering: optimizeLegibility; }

html, body, h1, h2, h3, h4, h5, h6, ul, li, p, a, b, i, span, article, figure, header, footer, section, hgroup, fieldset {
  margin: 0;
  padding: 0; }

li {
  list-style-type: none; }

fieldset {
  border: none; }

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

a img {
  outline: none;
  border: 0; }

object, embed {
  outline: 0; }

img {
  max-width: 100%; }

.hide {
  display: none; }

.op0 {
  opacity: 0 !important; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.resetBtn {
  outline: 0;
  border: 0;
  background: none;
  margin: 0;
  padding: 0; }

.resetLink {
  text-decoration: none;
  color: inherit; }

.hideText {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden; }

.ttu {
  text-transform: uppercase; }

.tac {
  text-align: center; }

.fl {
  float: left; }

.fr {
  float: right !important; }

.nos {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.db {
  display: block; }

.w100 {
  width: 100%; }

.hp100 {
  height: 100%; }

.minwn {
  min-width: 0 !important; }

.wp5 {
  width: 5%; }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

#app {
  height: 100%; }

.cont-dashboard {
  min-width: 742px;
  padding-top: 2.1875em;
  width: 80%;
  margin: 0 auto;
  max-width: 57.5em;
  margin-bottom: 1.25em; }

.Text-lgBlue {
  font-size: 2em;
  color: #318FF9; }

.Text-smGrey {
  font-size: 0.8125em;
  color: #bbb; }

.Text-dashboard {
  font-size: 1.5em; }

.Text-green {
  color: #3bc462; }

.Text-warn {
  color: #FAAB00; }

.Title-metrics {
  font-weight: normal;
  font-size: 1.25em; }

.Dash {
  border-radius: 5px;
  overflow: hidden;
  border-right: 1px #D8DBDE solid; }

.Dash-fullScreenIcon {
  position: relative;
  left: 0.4375em; }

.Dash-section {
  min-width: 75px;
  display: table;
  height: 100%;
  float: left;
  outline: 0;
  border: 0; }

.Dash-sectionChevron {
  display: none;
  height: 100%;
  padding-right: 2.77778%;
  cursor: pointer; }
  .Dash-sectionChevron .fa {
    -webkit-transition: -webkit-transform 0.2s;
            transition: transform 0.2s; }
  .Dash-sectionChevron.open .fa {
    -webkit-transform: scaleY(-1);
        -ms-transform: scaleY(-1);
            transform: scaleY(-1); }
  @media (min-width: 980px) {
    .Dash-sectionChevron {
      display: table; } }

.Dash-sectionText {
  width: 23%; }

.Dash-sectionInner {
  vertical-align: middle;
  display: table-cell;
  text-align: center;
  margin: 0 auto;
  position: relative; }

.Dash-elemContainer {
  margin-top: -1px; }

.Dash-elemContainer ~ .Dash-elemContainer {
  margin-top: 0; }

.Dash-elem {
  height: 5.625em;
  border-bottom: #D8DBDE 1.2px solid;
  cursor: pointer; }
  .Dash-elem:hover {
    background: #efefef;
    background: -webkit-linear-gradient(#fff, #fff, #efefef);
    background: linear-gradient(#fff, #fff, #efefef); }

.Dash-elemContainer {
  position: relative; }
  .Dash-elemContainer:before {
    content: "";
    display: block;
    position: absolute;
    width: 6px;
    height: 105%;
    background: #ddd;
    z-index: 2; }

.Dash-elemContainer.success:before {
  background: #76D691; }

.Dash-date {
  padding-bottom: 0.25em;
  padding-left: 2%;
  width: 16% !important; }

.Dash-build {
  margin-top: -0.375em; }

.Dash-buildNumber {
  margin-bottom: 0.08333em;
  position: relative;
  top: -0.125em; }

.Dash-line {
  height: 1px;
  background: #D8DBDE;
  width: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 2; }

.Dash-metric {
  height: 50%;
  margin-top: 1.5em;
  width: auto;
  margin-right: 2%;
  width: 2.9em;
  min-width: 0;
  cursor: pointer; }

.Dash-metric .Dash-sectionInner {
  background: #D8DBDE;
  color: #fff;
  border-radius: 4px;
  border-radius: 8px; }
  .Dash-metric .Dash-sectionInner.fail {
    background: #FF5F5F; }
  .Dash-metric .Dash-sectionInner.success {
    background: #76D691; }
  .Dash-metric .Dash-sectionInner.warn {
    background: #FFC91F; }

.Dash-metricOption {
  width: 91%;
  margin: 0 auto 3px;
  border-radius: 3px;
  line-height: 1.85em; }

.Dash-metricOptionNum {
  margin-right: 0.625em;
  background: #76D691;
  padding: 0.25em 0.5625em;
  border-radius: 3px;
  font-size: 0.9em;
  color: #fff; }
  .Dash-metricOptionNum.down {
    background: #FF5F5F; }
  .Dash-metricOptionNum.stable {
    background: #FFC91F; }

.Dash-metricSpacer {
  height: 2px; }

.Dash-panelRight {
  width: 39%;
  position: relative;
  left: 5.3%; }
  .Dash-panelRight a {
    text-decoration: underline; }
  .Dash-panelRight pre {
    line-height: 1.7; }
  .Dash-stats.open .Dash-panelRight {
    height: 75%; }
    .Dash-stats.open .Dash-panelRight .panel {
      height: 100%; }

.Dash-profilePic {
  width: 3.75em;
  height: 3.75em;
  border-radius: 3.75em;
  border: 1px solid #cdcdcd;
  padding: 0.15625em;
  margin: 0 auto;
  display: block; }
  .Dash-profilePic img {
    width: 100%;
    border-radius: 3.75em; }

.Dash-secondRow {
  top: 13.8em;
  top: 13.5em; }

.Dash-statusText {
  margin-top: 0.875em; }

.Dash-stats {
  -webkit-transition: height 0.33s;
          transition: height 0.33s;
  height: 0;
  visibility: hidden;
  border: 0; }
  .Dash-stats .row {
    height: 0;
    visibility: hidden;
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.5s;
            transition: opacity 0.5s; }
  .Dash-stats.open {
    border-bottom: 1px solid #D8DBDE;
    visibility: visible;
    height: 28.75em;
    padding: 1.0625em 6.66667%; }
    .Dash-stats.open .row {
      width: 88.33333%;
      height: 100%;
      visibility: visible;
      opacity: 1; }

.Dash-statsText {
  position: absolute;
  bottom: 0;
  top: 0;
  margin: auto;
  height: 1em;
  left: 0;
  right: 0;
  text-align: center; }

.Dash-statsNumber {
  color: #318FF9;
  font-size: 1.5em;
  position: relative;
  top: -0.375em;
  margin-left: 0.3125em; }

.Dash-statsLabel {
  font-size: 0.75em;
  position: relative;
  top: -0.875em;
  color: #98b5ca; }

.Dash-titleSml {
  position: absolute;
  left: 0;
  right: 0;
  top: 18%; }

.Dash-textDate {
  margin-top: -0.61538em; }

.Dash progress-arc {
  display: block; }
.Dash .circle-graph.warn circle ~ circle {
  stroke: #FFC91F; }
.Dash .circle-graph circle ~ circle {
  stroke-linecap: round;
  stroke: #76D691;
  -webkit-transition: stroke-dashoffset 0.1s linear;
          transition: stroke-dashoffset 0.1s linear; }
