// CSS Style guide: https://github.com/gilbox/futuristic-sass-guide/blob/master/README.md

// Angular cloak
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak{display: none !important;}

// Variables
$w: 900;
$color-border: #D8DBDE;
$color-grey: #D2D2D2;
$color-blue: #318FF9;
$color-green: #76D691;
$color-warn: #FFC91F;
$color-red: #FF5F5F;


#app{
	height: 100%;
}

.cont-dashboard{
	min-width: 742px;
	padding-top: em(35);
	width: 80%;
	margin: 0 auto;
	max-width: em($w + 20);
	margin-bottom: em(20);
}


/////// Text styles ///////
.Text-lgBlue{
	font-size: 2em;
	color: $color-blue;
}

$Text-smGrey: 13;
.Text-smGrey{
	$fs: $Text-smGrey;
	font-size: em($fs);
	color: #bbb;
}

$Text-dashboard: 24;
.Text-dashboard{
	font-size: em($Text-dashboard);
}

.Text-green{
	color: darken($color-green, 15%);
}
.Text-warn{
	color: #FAAB00;
}


////// Title styles //////
.Title-metrics{
	font-weight: normal;
	font-size: em(20);
}





/////// DASHBOARD styles ////////
.Dash{
	border-radius: 5px;
	overflow: hidden;
	border-right: 1px $color-border solid;
	&:first-child{
		
	}
}
.Dash-fullScreenIcon{
	position: relative;
	left: em(7);
}

.Dash-section{
	min-width: 75px;
	display: table;
	height: 100%;
	float: left;
	outline: 0;
	border: 0;
}
.Dash-sectionChevron{
	display: none;
	height: 100%;
	padding-right: pc(25, $w);
	cursor: pointer;
	.fa{
		transition: transform .2s;
	}
	&.open .fa{
		transform: scaleY(-1);
	}
	@media(min-width: 980px){
		display: table;
	}
}

.Dash-sectionText{
	width: 23%;
}
.Dash-sectionInner{
	vertical-align: middle;
	display: table-cell;
	text-align: center;
	margin: 0 auto;
	position: relative;
}

.Dash-elemContainer{
	margin-top: -1px;
}
.Dash-elemContainer ~ .Dash-elemContainer{
	margin-top: 0;
}

.Dash-elem{
	height: em(90);
	border-bottom: #D8DBDE 1.2px  solid;
	cursor: pointer;
	&:hover{
		background: #efefef;
		background: linear-gradient(#fff, #fff, #efefef);
	}
}

.Dash-elemContainer{
	position: relative;
	&:before{
		@include pseudo;
		width: 6px;
		height: 105%;
		background: #ddd;
		z-index: 2;
	}
}

.Dash-elemContainer.success{
	&:before{
		background: $color-green;
	}	
}

.Dash-date{
	padding-bottom: em(4);
	padding-left: 2%;
	width: 16% !important;
}

.Dash-build{
	margin-top: em(-6);
}

.Dash-buildNumber{
	margin-bottom: em(2, $Text-dashboard);
	position: relative;
	top: em(-3, $Text-dashboard);
}

.Dash-line{
	height: 1px;
	background: $color-border;
	width: 100%;
	margin: 0 auto;
	position: relative;
	z-index: 2;
}

.Dash-metric{
	height: 50%;
	margin-top: 1.5em;
	width: auto;
	margin-right: 2%;
	width: 2.9em;
	min-width: 0;
	cursor: pointer;
}

.Dash-metric .Dash-sectionInner{
	background: $color-border;
	color: #fff;
	border-radius: 4px;
	border-radius: 8px;
	// box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.2) inset;
	&.fail{
		background: $color-red;
	}
	&.success{
		background: $color-green;
	}
	&.warn{
		background: $color-warn;
	}
}

.Dash-metricOption{
	width: 91%;
	margin: 0 auto 3px;
	border-radius: 3px;
	line-height: 1.85em;
}

.Dash-metricOptionNum{
	margin-right: em(10);
	background: $color-green;
	padding: em(4) em(9);
	border-radius: 3px;
	font-size: .9em;
	color: #fff;
	&.down{
		background: $color-red;
	}
	&.stable{
		background: $color-warn;
	}
}

.Dash-metricSpacer{
	height: 2px;
}

.Dash-panelRight{
	width: 39%;
	position: relative;
	left: 5.3%;
	// Adjust line height for results terminal
	a{
		text-decoration: underline;
	}
	pre{
		line-height: 1.7;
	}
	// Expands right panel to full height
	.Dash-stats.open &{
		height: 75%;
		.panel{
			height: 100%;
		}
	}
}

.Dash-profilePic{
	$c: 60;
	width: em($c);
	height: em($c);
	border-radius: em($c);
	border: 1px solid #cdcdcd;
	padding: em(2.5);
	margin: 0 auto;
	display: block;
	img{
		width: 100%;
		border-radius: em($c);
	}
}

.Dash-secondRow{
	top: 13.8em;
	top: em(216);
}

.Dash-statusText{
	margin-top: em(14);
}

.Dash-stats{
	transition: height .33s;
	height: 0;
	visibility: hidden;
	border: 0;
	.row{
		height: 0;
		visibility: hidden;
		position: absolute;
		opacity: 0;
		transition: opacity .5s;
	}
	&.open{
		border-bottom: 1px solid $color-border;
		visibility: visible;
		height: em(460);
		padding: em(17) pc(60, $w);
		.row{
			width: pc($w - 105, $w);
			height: 100%;
			visibility: visible;
			opacity: 1;
		}
	}
}

.Dash-statsText{
	position: absolute;
	bottom: 0;
	top: 0;
	margin: auto;
	height: 1em;
	left: 0;
	right: 0;
	text-align: center;
}

.Dash-statsNumber{
	color: $color-blue;
	font-size: 1.5em;
	position: relative;
	top: em(-6);
	margin-left: em(5);
}

.Dash-statsLabel{
	font-size: em(12);
	position: relative;
	top: em(-14);
	color: darken(#D8E3EB, 19%);
}

.Dash-titleSml{
	position: absolute;
	left: 0;
	right: 0;
	top: 18%;
}

.Dash-textDate{
	$fs: 13;
	margin-top: em(-8, $fs);
}



////// Circle progress styles //////
.Dash{
	progress-arc{
		display: block;
	}

	.circle-graph{
		&.warn{
			circle ~ circle{
				stroke: $color-warn;
			}
		}
		circle ~ circle{
			stroke-linecap: round;
			// stroke: #47BAC1;
			stroke: #76D691;
			transition: stroke-dashoffset 0.1s linear;
		}
	}
}