<!-- @desc: Shows the expanded dashboard stats -->
<div class="Dash-stats" ng-class="{open: item.open}">
	<div class="row">

		<!-- Left Panels -->
		<div class="col-xs-9">
			<div class="row">
				<!-- Metrics -->
				<div class="col-xs-6">
    			<div class="panel panel-default">
    			  <div class="panel-heading clearfix">
    			    <h3 class="panel-title fl">Metrics</h3>
    			     <button href="#" class="fa fa-expand fr Dash-fullScreenIcon"></button>
    			  </div>
    			  <div class="panel-body">
    			  	<span class="Dash-metricOption">Test:</span>
    			  	<span class="fr Dash-metricOptionNum" 
    			  	ng-class="getMetricStatus(item.metrics[0].test, item.metrics[1].test)">
    			  	{{item.metrics[0].test}}
    			  	</span>
    			  	
    			  	<div class="Dash-metricSpacer"></div>

    			  	<span class="Dash-metricOption down">Maintainability:</span>
    			  	<span class="fr Dash-metricOptionNum"
    			  	ng-class="getMetricStatus(item.metrics[0].maintain, item.metrics[1].maintain)"
    			  	>{{item.metrics[0].maintain}}</span>
    			  	<div class="Dash-metricSpacer"></div>

    			  	<span class="Dash-metricOption">Security:</span>
    			  	<span class="fr Dash-metricOptionNum"
    			  	ng-class="getMetricStatus(item.metrics[0].security, item.metrics[1].security)"
    			  	>{{item.metrics[0].security}}</span>
    			  	<div class="Dash-metricSpacer"></div>

    			  	<span class="Dash-metricOption stable">Workmanship:</span>
    			  	<span class="fr Dash-metricOptionNum"
    			  	ng-class="getMetricStatus(item.metrics[0].workmanship, item.metrics[1].workmanship)"
    			  	>{{item.metrics[0].workmanship}}</span>
    			  </div>
    			</div>
  			</div><!-- /.col-xs-4 -->

				<!-- Build -->
  			<div class="col-xs-6">
    			<div class="panel panel-default" style="height: 196px">
    			  <div class="panel-heading clearfix">
    			    <h3 class="panel-title fl">{{:: item.type | capitalize }}</h3>
    			     <button href="#" class="fa fa-expand fr Dash-fullScreenIcon"></button>
    			  </div>
    			  <div class="panel-body">
    			  	
    			  	<div class="tac" style="padding-top: 1.5em">
	    			  	<img src="img/icon/laptop.svg" />
	    			  	<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
	    			  	<img src="img/icon/screen.svg" />
    			  	</div>
    			  	<div class="tac">Debug | Release</div>
    			  </div>
    			  <small class="tac w100 db" style="color: #aaa; padding-top: .5em">{{getDatetime(item.mins) | date:'hh:mm - MMM dd, yyyy'}}</small><!-- /.tac -->
    			</div>
  			</div><!-- /.col-xs-4 -->

			</div><!-- /.row -->
			
			<!-- Unit test -->
			<div class="row Dash-secondRow">
				<div class="col-xs-6">
    			<div class="panel panel-default">
    			  <div class="panel-heading clearfix">
    			    <h3 class="panel-title fl">Unit Test</h3>
    			    <button href="#" class="fa fa-expand fr Dash-fullScreenIcon"></button>
    			  </div>
    			  <div class="panel-body circle-graph" 
    			  		 ng-class="{warn: item.unitTest.pc < 50}">
    			  	<progress-arc
    			  	class="text-center"
    			  	size="120"
    			  	stroke-width="9"
    			  	complete="item.unitTest.pc / 100" 
    			  	background="#D8E3EB">
    			  	</progress-arc>
    			  	<div class="Dash-statsText">
    			  		<span class="Dash-statsNumber">
    			  		{{item.unitTest.pc + '%'}}
    			  		</span>
    			  		<p class="Dash-statsLabel">tests passed</p>
    			  	</div><!-- /.stats -->
    			  </div>
    			</div>
  			</div><!-- /.col-xs-4 -->

  			<!-- Functional test -->
				<div class="col-xs-6">
    			<div class="panel panel-default">
    			  <div class="panel-heading clearfix">
    			    <h3 class="panel-title fl">Functional Test</h3>
    			    <button href="#" class="fa fa-expand fr Dash-fullScreenIcon"></button>
    			  </div>
    			  <div class="panel-body circle-graph"
    			  		 ng-class="{warn: item.unitTest.pc < 50}">
    			  	<progress-arc
    			  	class="text-center"
    			  	size="120"
    			  	stroke-width="9"
    			  	complete="item.functionalTest.pc / 100" 
    			  	background="#D8E3EB"
    			  	stroke="#76D691">
    			  	</progress-arc>
    			  	<div class="Dash-statsText">
    			  		<span class="Dash-statsNumber">
    			  		{{item.functionalTest.pc + '%'}}
    			  		</span>
    			  		<p class="Dash-statsLabel">tests passed</p>
    			  	</div><!-- /.stats -->
    			  </div>
    			</div>
  			</div><!-- /.col-xs-4 -->
			</div><!-- /.row -->

		</div><!-- /.col-xs-9 (Left Panels) -->
		
		<div class="col-xs-4 fr Dash-panelRight">
			<div class="panel panel-default">
			  <div class="panel-heading clearfix">
			    <h3 class="panel-title fl">Result</h3>
			    <button href="#" class="fa fa-expand fr Dash-fullScreenIcon"></button>
			  </div>
			  <div class="panel-body">
  			  <!-- comments prevent white space in pre -->
  			  <pre><!--
    			  -->Analyzing Unit Test...<br><!-- 
    			  --><span ng-class="getTerminalStatus(item.unitTest.covered)">{{:: item.unitTest.covered}}% code covered</span><br><!-- 

    			  -->Unit Test running...<br><!-- 
    			  --><span ng-class="getTerminalStatus(item.unitTest.passed, item.unitTest.failed)">{{:: item.unitTest.passed + '/' + (item.unitTest.passed + item.unitTest.failed) }} Tests passed</span><!-- 
    			  
    			  --><br>Analyzing Functional Test<br><!-- 
    			  --><span ng-class="getTerminalStatus(item.functionalTest.covered)">{{:: item.functionalTest.covered}}% code covered</span><br><!-- 

    			  -->Functional Test running...<br><!-- 
    			  --><span ng-class="getTerminalStatus(item.functionalTest.passed, item.functionalTest.failed)">{{:: item.functionalTest.passed + '/' + (item.functionalTest.passed + item.functionalTest.failed) }} Tests passed</span><!-- 
						
    			  --><span ng-if="item.status == 'complete'"><br>Change accepted<br>Auto merging...<br>Build Merged<br><a href="#">View merged build</a></span><!--
    			  
    			  --><span ng-if="item.status == 'pending'"><br>Test failure, auto-merge not available</span><!--

  		 --></pre>
			  </div>
    	</div>
		</div><!-- /.col-xs-4 -->
	</div><!-- /.row -->
</div><!-- /Dash-stats -->