<!-- @desc: The list summary element, clicks open to show dashboard-stats.html -->
<!-- Build/Firewall element -->
<div class="Dash-elem" ng-click="setOpenItem(item)" ng-cloak>
	<div class="Dash-section Dash-date">
		<div class="Dash-sectionInner" >
			<div class="Text-lgBlue">
			{{ timeValue(item.mins )}}
			</div><!-- /.Text-lgeBlue -->
			<div class="Text-smGrey Dash-textDate" style="font-size: .75em">
				{{ timeMetric(item.mins) }} ago
			</div><!-- /.Text-lgeBlue -->
		</div><!-- /.inner -->
	</div><!-- /.Dash-date -->

	<div class="Dash-section Dash-profile" >
		<div class="Dash-sectionInner">
			<a ng-href="{{::userUrl + item.userUrl}}" class="Dash-profilePic" data-toggle="tooltip" title="{{:: item.user}}" rel="tooltip">
				<img ng-src="{{:: imgUrl + item.src}}" />
			</a><!-- /.Dash-profilePic -->
		</div><!-- /.Dash-sectionInner -->
	</div><!-- /.Dash-section -->
	<div class="Dash-section  Dash-sectionText">
		<div class="Dash-sectionInner">
			<div class=" Text-smGrey">{{:: item.type | capitalize }}</div>
			<div class="Text-dashboard Dash-buildNumber">
				{{:: item.build}}
			</div>
		</div>
	</div><!-- /.Dash-section -->
	<div class="Dash-section">
		<div class="Dash-sectionInner">
			<div class="Dash-done">
				<div class="Dash-titleSml Text-smGrey">Status</div>
				<div class="Dash-buildNumber Dash-statusText">
				{{ item.status | capitalize}}
				</div>
			</div><!-- /.Dash-build -->
		</div>
	</div><!-- /.Dash-section -->
	<div class="hp100 wp5 fl">
	</div><!-- spacer -->

	<div class="Dash-section Dash-metric" data-toggle="tooltip" title="Metrics" rel="tooltip">
		<div class="Dash-sectionInner" ng-class="item.metricStatus">
			M
		</div>
	</div><!-- /.Dash-section -->

	<div class="Dash-section Dash-metric" data-toggle="tooltip" title="Build" rel="tooltip">
		<div class="Dash-sectionInner" ng-class="item.buildStatus">
			B
		</div>
	</div><!-- /.Dash-section -->
	
	<div class="Dash-section Dash-metric" data-toggle="tooltip" title="Unit Test" rel="tooltip">
		<div class="Dash-sectionInner" ng-class="item.unitStatus">
			UT
		</div>
	</div><!-- /.Dash-section -->
	<div class="Dash-section Dash-metric" data-toggle="tooltip" title="Functional Test" rel="tooltip">
		<div class="Dash-sectionInner" ng-class="item.functionalStatus">
			FT
		</div>
	</div><!-- /.Dash-section -->
	<div class="Dash-sectionChevron fr" ng-class="{open: item.open}">
		<div class="Dash-sectionInner">
			<i class="fa fa-chevron-down"></i>
		</div>
	</div>
</div><!-- /.Dash-elem -->