<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    <meta charset="utf-8">
    <title>Starter project</title>
    <meta name="description" content="" />
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <link rel="icon" href="//favicon.ico" type="image/x-icon" sizes="16x16">
    <link rel="stylesheet" href="css/bootstrap/bootstrap.css" />
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/app.css" />
    <!--[if lt IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script><![endif]-->
    <script src="js/nobuild/commondev.js"></script>
  </head>
  <body>
    <div id="app" ng-controller="Dashboard">
			<div class="cont-dashboard">
	    	<div class="Dash">
	    		<div class="Dash-line"></div><!-- /.Dash-line -->
	    		<div class="Dash-elemContainer"  ng-repeat="item in items" ng-class="{success: item.status == 'complete' || item.status == 'accepted'}">
		    		
		    		<ng-include src="'partials/dashboard-element.html'" onload="tooltipInit()"></ng-include>
						<ng-include src="'partials/dashboard-stats.html'"></ng-include>

					</div><!-- /.Dash-elemContainer -->
    		</div><!-- /.Dash -->
  		</div><!-- /.dashContainer -->		
  	</div><!-- /app -->

	  <script src="js/lib.js"></script>
	  <script src="js/app.js"></script>
	  <!--[if IE ]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholder-shiv/0.2/placeholder-shiv.js"></script><![endif]-->
  </body>
</html>